
.form {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;

    input {
        margin-left: 15px;
        margin-right: 5px;
        width: 80%;
        max-width: 400px;
    }

    button {
        padding:0;
        width: 10%;
        max-width: 50px;
    }
}